button{

    margin-top: 1%;
    width: 100%;
    background-color: #001aff;
    color: #ffffff;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 600;
    border-radius: 17px;
    cursor: pointer;

}